/* Modal base styles */
.modal-is-active {
  overflow: hidden;
}
.modal {
  visibility: hidden;
}
.modal--active {
  visibility: visible;
}
.modal__window {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #f5f5f5;
  height: auto;
  left: 50%;
  max-height: 100%;
  max-width: 600px;
  min-height: 300px;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  z-index: 1001;
}
.modal--active .modal__window {
  opacity: 1;
}
.modal__header {
  background: #000;
  color: #fff;
  padding: 2rem;
}
.modal__title {
  font-size: 2rem;
}
.modal__close-btn {
  background: transparent;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
}
.modal__close-icon {
  fill: #fff;
  height: 20px;
  width: 20px;
}

.modal__content {
  padding: 2rem;
}
.modal__overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  width: 100%;
  visibility: hidden;
  z-index: 1000;
}
.modal--active .modal__overlay {
  opacity: .75;
  visibility: visible;
}

/* Modal transitions */
.modal--scale-up .modal__window {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(.75);
  -moz-transform: translateX(-50%) translateY(-50%) scale(.75);
  -ms-transform: translateX(-50%) translateY(-50%) scale(.75);
  -o-transform: translateX(-50%) translateY(-50%) scale(.75);
  transform: translateX(-50%) translateY(-50%) scale(.75);
}
.modal--scale-up.modal--active .modal__window {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  -o-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}